.item-travel-container {
    box-shadow: 1px 1px 1px 1px #CDCDCD;
    margin: auto;
    max-width: 500px;
    min-height: 150px;
    text-align: center;
    color: black;
    @media (max-width: 768px) {
        min-height: 200px;
    }

    .item-travel-id, .item-travel-dep, .item-travel-arr {
        color: #A5A5A5;
    }
    .item-travel-label {
        color: #414141;
    }
    .item-travel-id {
        font-size: 32px;
    }
    .item-travel-hours {
        font-weight: bold;
    }
}