.spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  .spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: blue transparent blue transparent;
    border-radius: 50%;
    animation: spin 0.2s linear infinite;
  }
}
